{% extends 'nav.html' %}
{% block nav %}
<h4 class="bg-info">Profile</h4>
{% if messages %}
    {% for i in messages %}
     {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
     <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
     </div>
     {%endif%}
     {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
     <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
     </div>
    
     {%endif%} 
     {%endfor%}
     {%endif%}  
     <div class="row">
        <div class="col-10">

     <div class="card" style="width: 100%;">
        <img class="card-img-top" src="{{request.user.bio_user.profile_pic.url}}" height="300px"  alt="card image cap">
        <div class="card-body">
          <h5 class="card-title">{{request.user.first_name}} {{request.user.last_name}}</h5>  
          <p class="card-text">{{request.user.bio_user.status}}</p>
          <p class="card-text">{{request.user.bio_user.dob}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Gender:{{request.user.bio_user.gender}}</li>
            <li class="list-group-item">Phone:{{request.user.bio_user.phone}}</li>
            <li class="list-group-item">Email:{{request.user.email}}</li>
          </ul>
      </div>  
   </div>  

    <div class="col-2" style="height: 500px;border-left:2px solid black">
        {% if request.user.bio_user %}
        <a href="{% url 'editbio' request.user.bio_user.id %}"  class="btn btn-info">Edit Bio</a>
        <a href="{% url 'cp' %}" class="btn btn-warning mt-3">Change Password</a>
        {%else%}
        <a href="{% url 'bio' %}" class="btn btn-warning">Add Bio</a>
        {%endif%}
    </div>
    </div>
  
{% endblock nav %}